.lightning {
  background-color: rgba(0, 243, 185, 1);
  background-color: rgba(33, 135, 255, 1);
    &-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-subtitle {
        padding-top: 100px;
        font-size: 22px;
        line-height: 33px;
        color: #ffffff;
    }

    &-title {
        margin-bottom: 27px;
        font-size: 46px;
        line-height: 57px;
        color: #ffffff;
    }

    &-text {
        margin-bottom: 90px;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
    }
    &-button {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
            &__buy {
                margin-right: 16px;
                padding: 18px 31px;
                background-color: #ffffff;
                color: #2091f9;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                border-radius: 35px;
                border: none;
                cursor: pointer;
            }
          
             &__try {
                padding: 16px 45px;
                background-color: #208bfd;
                color: #ffffff;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                border: 1px solid #ffffff;
                box-sizing: border-box;
                border-radius: 35px;
                cursor: pointer;
          }
    }
}
@media screen and (max-width: 1024px) {
    .lightning-subtitle {
        padding-top: 50px;
      }
      .lightning-text {
        margin-bottom: 60px;
      }
      .lightning-button {
        padding-bottom: 50px;
      }

}
@media screen and (max-width: 419px) {
    .lightning-subtitle {
        margin: 80px 0 17px;
        padding: 0;
      }
      .lightning-title {
        font-size: 46px;
        line-height: 57px;
        font-weight: 500;
        text-align: center;
        width: 296px;
      }
      .lightning-text {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        width: 298px;
        margin-bottom: 69px;
      }
      .lightning-button {
        padding-bottom: 80px;
      }
}
